h1 {
  color: white;
  font-size: 2.2rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5px;
}
.card img {
  border-radius: 15px;
}
.card img:hover {
  transform: scale(1.05);
}
